<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" id="btn-navmenu" class="disabled navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <div class="logo"></div>
            <span class="navbar-brand" href="#">Party Sherpa</span>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <div id="profile">
                <div id="user-picture">
                    <i class="fa fa-user pull-left" aria-hidden="true"></i>
                </div>
                <h3></h3>
            </div>
            <p class="error text-danger"></p>
            <p class="phone"><i class="fa fa-phone" aria-hidden="true"></i> <span></span> <a class="btn btn-default edit"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
            <p class="email"><i class="fa fa-envelope" aria-hidden="true"></i> <span></span> <a class="btn btn-default edit"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
            <hr />
            <p><a class="btn btn-default btn-md btn-block" href="/dashboard" id="btn-events">My Events</a></p>
            <p><a class="btn btn-default btn-md btn-block" href="/logout" id="btn-logout">Log Out</a></p>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container" id="user-menu">
    <h2>Host</h2>
    <a class="btn btn-default btn-list" id="btn-event-create">Create New Event<i class="fa fa-chevron-right" aria-hidden="true"></i></a>    {{#each events}} {{#if this.host}}
    <!-- if its in user_events use this.property
         if its in users or events its this.dataValues.FOREIGNTABLE.column-->
    <table>
        <thead>
            <tr>
                <th>Event Name</th>
                <th>Event Date</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody class="events-container">
            <tr>
                <td>{{this.dataValues.event.event_name}}</td>
                <td>{{this.dataValues.event.event_date}}</td>
                <td>{{this.dataValues.event.location}}</td>
                <td><a class="btn" href="/guestlist/{{this.eventId}}">Add a guest</a></td>
            </tr>
        </tbody>
    </table>
    {{/if}} {{/each}}
</div>

<div class="container" id="event-details">
    <h2 class="event-name">{{this.dataValues.event.event_name}}</h2>
    <div id="event-rsvp">
        <p>RSVP Status
            <input id="toggle-rsvp" name="rsvp" type="checkbox" checked data-toggle="toggle" data-width="120" data-height="34" data-on="Attending"
                data-off="Can't Go" />
        </p>
    </div>
    <div id="event-meals">
        <div class="radio" id="event-meal">
            <h3>Meal Options</h3>
            <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"> Chicken Parmesan
                </label>
        </div>
        <div class="radio">
            <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Flatiron Steak
                </label>
        </div>
        <div class="radio">
            <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"> Vegetarian
                </label>
        </div>
    </div>
    <div id="event-details">
        <h3>Event Details</h3>

        <h4>Date &amp; Time</h4>
        <p>Wednesday, August 7, 2017</p>
        <p>Ceremony 2:00pm - 4:00pm
            <br /> Reception 5:00pm - 10:00pm</p>

        <h4>Dress Code</h4>
        <p>Formal</p>

        <h4>Location</h4>
        <p>123 Bob Street,
            <br /> Sometown, State, 11111</p>

        <p>Parking: Valet, $6</p>
    </div>
    <hr />
    <button class="btn btn-default btn-lg btn-block">Add to iCal</button>
    <button class="btn btn-default btn-lg btn-block">Add to Google Calendar</button>
    <hr />
    <button class="btn btn-danger btn-lg btn-block" data-toggle="modal" data-target="#modal-event-delete">Delete This Event</button>
</div>

<!-- new event -->
<div class="container" id="event-create">
    <h2>Create a New Event</h2>
    <form id="new-event" name="event" method="post" action="/guestlist">
        <div class="form-group">
            <label for="event_name">Event Name</label>
            <input type="text" class="form-control" id="event_name" name="event_name" placeholder="Joe's Birthday">
        </div>
        <div class="form-group">
            <label for="event_date">Date &amp; Time</label>
            <div class="input-group date" id="container-new-event-datetime">
                <input type='text' class="form-control" id="event_date" name="event_date" />
                <span class="btn btn-default input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control" id="location" name="location" placeholder="">
        </div>
        <!-- 
        <div class="form-group">
            <label for="new-event-dress">Dress Code</label>
            <input type="text" class="form-control" id="new-event-dress" placeholder="Optional">
        </div>
        <div class="checkbox checkbox-default">
            <p><strong>Do you need your guests to select a meal ahead of time?</strong></p>
            <label><input id="meal-start" type="checkbox"> Meal option</label>
            <div id="meal-choices">
                <a id="add-meal" class="btn btn-default add-one"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add another</a>
            </div>
        </div>
        <div class="form-group">
            <label for="new-event-notes">Any extra notes?</label>
            <input type="textarea" class="form-control" id="new-event-notes" placeholder="Directions, passcodes, parking information, etc.">
        </div>
        -->
        <hr />
        <div class="half-wide pull-left">
            <button class="btn btn-default btn-lg btn-block">Cancel</button>
        </div>
        <div class="half-wide pull-right">
            <button class="btn btn-primary btn-lg btn-block submit" type="submit">Continue to Guest List &nbsp; &nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </div>
    </form>
</div>

<!-- ================================================== -->
<!-- =================     MODALS     ================= -->

<div id="modal-event-delete" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-danger">Delete This Event</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you wan't to delete <span class="event-name">Gavin &amp; Christine's Wedding</span>?</p>
                <p>Your RSVP will be set to <strong>Not Attending</strong> and you will not be able to access the event's information.
                </p>
                <p class="lead text-danger">This action cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-block" data-dismiss="modal">Yes, Remove me from the Event and Delete it</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-event-add-guest" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add a Guest</h4>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="add-guest-fname">First Name</label>
                        <input type="text" class="form-control" id="add-guest-fname" placeholder="Bob">
                    </div>
                    <div class="form-group">
                        <label for="add-guest-lname">Last Name</label>
                        <input type="text" class="form-control" id="add-guest-lname" placeholder="Dole">
                    </div>
                    <div class="form-group">
                        <label for="add-guest-phone">Phone Number</label>
                        <input type="tel" class="form-control" id="add-guest-phone" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="add-guest-phone">Email</label>
                        <input type="email" class="form-control" id="add-guest-email" placeholder="">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="half-wide pull-left">
                        <button class="btn btn-primary btn-lg btn-block" id="btn-add-guest-modal" data-dismiss="modal">Add Guest</button>
                    </div>
                    <div class="half-wide pull-right">
                        <button class="btn btn-default btn-lg btn-block" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/js/api-script.js"></script>